body { 
    background-color: black;
}

header {
    
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 16vh;
    border-radius: 5px;

}

main {
    height: 66vh;
    width: 100%;
    background-color: rgb(0, 129, 167);
    
}

footer {
    
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 16vh;
    border-radius: 5px;

}

h1 {
    display: inline;
    position: relative;
}

h2 {
    margin: 0 auto;
}

#Arr1 {
    top: 150px;
    left: 250px;
}

#Arr2 {
    top: 440px;
    left: 1500px;
    
}

#p1Top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#p2Top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#p1Bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#p2Bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.corners {

    margin: 3px;
    background-color: rgb(186, 59, 70);
    width: 33.33vw;
    height: 15vh;
    border: 3px solid rgb(236, 159, 5);

}

#p1Top {
    border-top-left-radius: 25px;
}

#p1Bottom {
    border-bottom-left-radius: 25px;
}

#p2Top {
    border-top-right-radius: 25px;
}

#p2Bottom {
    border-bottom-right-radius: 25px;
}

.mid {

    margin: 3px;
    background-color: rgb(71, 68, 72);
    width: 33vw;
    height: 15vh;
    border: 3px solid rgb(236, 159, 5);

}

.tile {
    width: 7vw;
    height: 10vh;
    border: 5px solid black;
}

#topDiv {
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

#bottomDiv {
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

#midDiv {
    display: flex;
}

#rightMid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 86px;
    width: 50%;
    
}

#leftMid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 86px;
}

img {
    width: 1;
}

p {
    margin: 0;
}